<html>
<head>
<title>activity_confirm_password.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_confirm_password.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout</span>
    <span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;@android:color/white&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;View</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/headerBg&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;240dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@color/aqua_secondary&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/ForgotHeader1&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;24dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;48dp&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Confirm Your Password&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;@android:color/white&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;22sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;androidx.cardview.widget.CardView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/floatingCard&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;360dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;500dp&quot;</span>
        <span class="s1">app:cardBackgroundColor</span><span class="s2">=&quot;@android:color/white&quot;</span>
        <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;12dp&quot;</span>
        <span class="s1">app:cardElevation</span><span class="s2">=&quot;12dp&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/ForgotHeader1&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;12dp&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;24dp&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvForgotPassword&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Set up your new password&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#5F5F5F&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;16dp&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Enter your new password&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#4B91C6&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;EditText</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/yourNewPass&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">android:background</span><span class="s2">=&quot;@drawable/edittext_bg&quot;</span>
                <span class="s1">android:drawableEnd</span><span class="s2">=&quot;@drawable/password_toggle_selector&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:hint</span><span class="s2">=&quot;Make it strong and secure&quot;</span>
                <span class="s1">android:inputType</span><span class="s2">=&quot;textPassword&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;12dp&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot;</span>
                <span class="s1">android:textColorHint</span><span class="s2">=&quot;#33000000&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot; </span><span class="s0">/&gt;</span>


            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/yourNewPassWarning&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;4dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Password should be 8–12 characters&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#E53935&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;12sp&quot;</span>
                <span class="s1">android:visibility</span><span class="s2">=&quot;gone&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;16dp&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Confirm your password&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#4B91C6&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;EditText</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/reNewPass&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">android:background</span><span class="s2">=&quot;@drawable/edittext_bg&quot;</span>
                <span class="s1">android:drawableEnd</span><span class="s2">=&quot;@drawable/password_toggle_selector&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:hint</span><span class="s2">=&quot;Type it again to confirm&quot;</span>
                <span class="s1">android:inputType</span><span class="s2">=&quot;textPassword&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;12dp&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot;</span>
                <span class="s1">android:textColorHint</span><span class="s2">=&quot;#33000000&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/reNewPassWarning&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;4dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Oops! Your passwords don’t match&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#E53935&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;12sp&quot;</span>
                <span class="s1">android:visibility</span><span class="s2">=&quot;gone&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;24dp&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Your Password:&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#5F5F5F&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;12dp&quot;</span>
                <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span><span class="s0">&gt;</span>

                <span class="s0">&lt;LinearLayout</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:gravity</span><span class="s2">=&quot;center_vertical&quot;</span>
                    <span class="s1">android:paddingVertical</span><span class="s2">=&quot;4dp&quot;</span><span class="s0">&gt;</span>
                    <span class="s0">&lt;ImageView</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/IndicatorEight&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;16dp&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;16dp&quot;</span>
                        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/circle_indicator&quot; </span><span class="s0">/&gt;</span>
                    <span class="s0">&lt;TextView</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/eightPassword&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;12dp&quot;</span>
                        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;Must have 8 or more characters&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#4B91C6&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;13sp&quot; </span><span class="s0">/&gt;</span>
                <span class="s0">&lt;/LinearLayout&gt;</span>

                <span class="s0">&lt;LinearLayout</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:gravity</span><span class="s2">=&quot;center_vertical&quot;</span>
                    <span class="s1">android:paddingVertical</span><span class="s2">=&quot;4dp&quot;</span><span class="s0">&gt;</span>
                    <span class="s0">&lt;ImageView</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/IndicatorLower&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;16dp&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;16dp&quot;</span>
                        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/circle_indicator&quot; </span><span class="s0">/&gt;</span>
                    <span class="s0">&lt;TextView</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/LowerPassword&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;12dp&quot;</span>
                        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;Must have atleast 1 lowercase letter&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#4B91C6&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot; </span><span class="s0">/&gt;</span>
                <span class="s0">&lt;/LinearLayout&gt;</span>

                <span class="s0">&lt;LinearLayout</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:gravity</span><span class="s2">=&quot;center_vertical&quot;</span>
                    <span class="s1">android:paddingVertical</span><span class="s2">=&quot;4dp&quot;</span><span class="s0">&gt;</span>
                    <span class="s0">&lt;ImageView</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/IndicatorUpper&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;16dp&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;16dp&quot;</span>
                        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/circle_indicator&quot; </span><span class="s0">/&gt;</span>
                    <span class="s0">&lt;TextView</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/UpperPassword&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;12dp&quot;</span>
                        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;Must have atleast 1 uppercase letter&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#4B91C6&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;13sp&quot; </span><span class="s0">/&gt;</span>
                <span class="s0">&lt;/LinearLayout&gt;</span>

                <span class="s0">&lt;LinearLayout</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:gravity</span><span class="s2">=&quot;center_vertical&quot;</span>
                    <span class="s1">android:paddingVertical</span><span class="s2">=&quot;4dp&quot;</span><span class="s0">&gt;</span>
                    <span class="s0">&lt;ImageView</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/IndicatorNumber&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;16dp&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;16dp&quot;</span>
                        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/circle_indicator&quot; </span><span class="s0">/&gt;</span>
                    <span class="s0">&lt;TextView</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/NumberPassword&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;12dp&quot;</span>
                        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;Must have atleast 1 number&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#4B91C6&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot; </span><span class="s0">/&gt;</span>
                <span class="s0">&lt;/LinearLayout&gt;</span>

                <span class="s0">&lt;LinearLayout</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:gravity</span><span class="s2">=&quot;center_vertical&quot;</span>
                    <span class="s1">android:paddingVertical</span><span class="s2">=&quot;4dp&quot;</span><span class="s0">&gt;</span>
                    <span class="s0">&lt;ImageView</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/IndicatorSpecial&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;16dp&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;16dp&quot;</span>
                        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/circle_indicator&quot; </span><span class="s0">/&gt;</span>
                    <span class="s0">&lt;TextView</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/SpecialPassword&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;12dp&quot;</span>
                        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;Must have atleast 1 special letter&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#4B91C6&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot; </span><span class="s0">/&gt;</span>
                <span class="s0">&lt;/LinearLayout&gt;</span>
            <span class="s0">&lt;/LinearLayout&gt;</span>

        <span class="s0">&lt;/LinearLayout&gt;</span>
    <span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span>

    <span class="s0">&lt;Button</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnDonePassword&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;102dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;5dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;30dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/button_bg&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
        <span class="s1">android:foreground</span><span class="s2">=&quot;?attr/selectableItemBackground&quot;</span>
        <span class="s1">android:hapticFeedbackEnabled</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:soundEffectsEnabled</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Done&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.934&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.758&quot; </span><span class="s0">/&gt;</span>

<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span></pre>
</body>
</html>