<html>
<head>
<title>activity_service_log.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_service_log.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;@color/aqua_background&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;View</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/headerBg&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;118dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/header_gradient&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnBack&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;28dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;28dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;44dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;?attr/selectableItemBackgroundBorderless&quot;</span>
        <span class="s1">android:clickable</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:focusable</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/arrow_back&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:tint</span><span class="s2">=&quot;#FFFFFF&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/CustomerIcon&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;26dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;26dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;32dp&quot;</span>
        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/man_user_circle_icon&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvServiceLog&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Service Update Log&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;@id/headerBg&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;@id/headerBg&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;androidx.core.widget.NestedScrollView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/headerBg&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
            <span class="s1">android:paddingBottom</span><span class="s2">=&quot;24dp&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;androidx.cardview.widget.CardView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/blueCard&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginHorizontal</span><span class="s2">=&quot;16dp&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;12dp&quot;</span>
                <span class="s1">app:cardBackgroundColor</span><span class="s2">=&quot;#4B91C6&quot;</span>
                <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;24dp&quot;</span>
                <span class="s1">app:cardElevation</span><span class="s2">=&quot;8dp&quot;</span><span class="s0">&gt;</span>

                <span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:padding</span><span class="s2">=&quot;16dp&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;TextView</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/assignedTech&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;ASSIGNED&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;15sp&quot;</span>
                        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

                    <span class="s0">&lt;TextView</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/SroNumber&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;4dp&quot;</span>
                        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                        <span class="s1">tools:text</span><span class="s2">=&quot;SRO-00014614&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;13sp&quot;</span>
                        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/assignedTech&quot; </span><span class="s0">/&gt;</span>

                    <span class="s0">&lt;TextView</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvAquaTechnician&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span>
                        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;Aqua Technician&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;15sp&quot;</span>
                        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/SroNumber&quot; </span><span class="s0">/&gt;</span>

                    <span class="s0">&lt;TextView</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvTechName&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                        <span class="s1">tools:text</span><span class="s2">=&quot;Jonnifer Iglesias&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;15sp&quot;</span>
                        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/tvAquaTechnician&quot; </span><span class="s0">/&gt;</span>

                    <span class="s0">&lt;TextView</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvDateTime&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;10dp&quot;</span>
                        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                        <span class="s1">tools:text</span><span class="s2">=&quot;Wednesday 12:00PM-1:00PM&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;15sp&quot;</span>
                        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/tvTechName&quot; </span><span class="s0">/&gt;</span>

                    <span class="s0">&lt;ImageView</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/techProfileAvatar&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;110dp&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;110dp&quot;</span>
                        <span class="s1">android:adjustViewBounds</span><span class="s2">=&quot;true&quot;</span>
                        <span class="s1">android:scaleType</span><span class="s2">=&quot;centerCrop&quot;</span>
                        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/new_technician&quot;</span>
                        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

                <span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span>
            <span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span>

            <span class="s0">&lt;androidx.cardview.widget.CardView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/mapTrackCard&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;140dp&quot;</span>
                <span class="s1">android:layout_marginHorizontal</span><span class="s2">=&quot;16dp&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;16dp&quot;</span>
                <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;20dp&quot;</span>
                <span class="s1">app:cardElevation</span><span class="s2">=&quot;8dp&quot;</span><span class="s0">&gt;</span>

                <span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;org.osmdroid.views.MapView</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/mapLog&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot; </span><span class="s0">/&gt;</span>

                    <span class="s0">&lt;ImageView</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/greaterThanIcon&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;40dp&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;40dp&quot;</span>
                        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/arrow_forward&quot;</span>
                        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
                        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.498&quot;</span>
                        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
                        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.39&quot;</span>
                        <span class="s1">app:tint</span><span class="s2">=&quot;@color/aqua_primary&quot; </span><span class="s0">/&gt;</span>

                    <span class="s0">&lt;TextView</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;4dp&quot;</span>
                        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;Tap to track your technician&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;@color/aqua_primary&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
                        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/greaterThanIcon&quot; </span><span class="s0">/&gt;</span>

                <span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span>
            <span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span>

            <span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/ordersHeader&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;16dp&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;12dp&quot;</span><span class="s0">&gt;</span>

                <span class="s0">&lt;ImageView</span>
                    <span class="s1">android:id</span><span class="s2">=&quot;@+id/OrderIcon&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;50dp&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;70dp&quot;</span>
                    <span class="s1">android:src</span><span class="s2">=&quot;@drawable/all_about_water___2__2&quot;</span>
                    <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;1.0&quot; </span><span class="s0">/&gt;</span>

                <span class="s0">&lt;TextView</span>
                    <span class="s1">android:id</span><span class="s2">=&quot;@+id/ListOrders&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;-25dp&quot;</span>
                    <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                    <span class="s1">android:text</span><span class="s2">=&quot;ORDERS&quot;</span>
                    <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;-4dp&quot;</span>
                    <span class="s1">android:textColor</span><span class="s2">=&quot;#555555&quot;</span>
                    <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
                    <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                    <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;@id/OrderIcon&quot;</span>
                    <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s2">=&quot;@id/OrderIcon&quot;</span>
                    <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;@id/OrderIcon&quot; </span><span class="s0">/&gt;</span>
            <span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span>

            <span class="s0">&lt;androidx.recyclerview.widget.RecyclerView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/rvOrders&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:nestedScrollingEnabled</span><span class="s2">=&quot;false&quot;</span>
                <span class="s1">tools:listitem</span><span class="s2">=&quot;@layout/item_service_order&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;/LinearLayout&gt;</span>
    <span class="s0">&lt;/androidx.core.widget.NestedScrollView&gt;</span>

<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span>
</pre>
</body>
</html>