<html>
<head>
<title>activity_splash.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_splash.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:id</span><span class="s2">=&quot;@+id/main&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;#D0E2EF&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;androidx.constraintlayout.widget.Guideline</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/gStart&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
        <span class="s1">app:layout_constraintGuide_percent</span><span class="s2">=&quot;0.08&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;androidx.constraintlayout.widget.Guideline</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/gEnd&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
        <span class="s1">app:layout_constraintGuide_percent</span><span class="s2">=&quot;0.92&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView2&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:alpha</span><span class="s2">=&quot;0&quot;</span>
        <span class="s1">android:scaleX</span><span class="s2">=&quot;0.3&quot;</span>
        <span class="s1">android:scaleY</span><span class="s2">=&quot;0.3&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/image_11&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;View</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/expandingCircle&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;80dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;80dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/circle_reveal&quot;</span>
        <span class="s1">android:scaleX</span><span class="s2">=&quot;0&quot;</span>
        <span class="s1">android:scaleY</span><span class="s2">=&quot;0&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/finalScreen&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:alpha</span><span class="s2">=&quot;0&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;-64dp&quot;</span>
            <span class="s1">android:src</span><span class="s2">=&quot;@drawable/all_about_water___2__1&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:src</span><span class="s2">=&quot;@drawable/aquatech&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;View</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/loginBg&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#2d90c4&quot;</span>
        <span class="s1">android:visibility</span><span class="s2">=&quot;gone&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/waveBottom&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:scaleType</span><span class="s2">=&quot;fitXY&quot;</span>
        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/wave_curve&quot;</span>
        <span class="s1">android:visibility</span><span class="s2">=&quot;gone&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/topLogoContainer&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;60dp&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
        <span class="s1">android:visibility</span><span class="s2">=&quot;gone&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;@id/gEnd&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@id/gStart&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintWidth_max</span><span class="s2">=&quot;350dp&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;120dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;120dp&quot;</span>
            <span class="s1">android:scaleType</span><span class="s2">=&quot;fitCenter&quot;</span>
            <span class="s1">android:src</span><span class="s2">=&quot;@drawable/all_about_water___2__1&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;180dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;70dp&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;-50dp&quot;</span>
            <span class="s1">android:scaleType</span><span class="s2">=&quot;fitCenter&quot;</span>
            <span class="s1">android:src</span><span class="s2">=&quot;@drawable/aquatech&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/loginContainer&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:visibility</span><span class="s2">=&quot;gone&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;@id/gEnd&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@id/gStart&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/topLogoContainer&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.7&quot;</span>
        <span class="s1">app:layout_constraintWidth_max</span><span class="s2">=&quot;450dp&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;com.google.android.material.textfield.TextInputLayout</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/tilLoginInput&quot;</span>
            <span class="s1">style</span><span class="s2">=&quot;@style/Widget.MaterialComponents.TextInputLayout.OutlinedBox.Dense&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:hint</span><span class="s2">=&quot;Email or Username&quot;</span>
            <span class="s1">app:boxBackgroundColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
            <span class="s1">app:boxCornerRadiusBottomEnd</span><span class="s2">=&quot;12dp&quot;</span>
            <span class="s1">app:boxCornerRadiusBottomStart</span><span class="s2">=&quot;12dp&quot;</span>
            <span class="s1">app:boxCornerRadiusTopEnd</span><span class="s2">=&quot;12dp&quot;</span>
            <span class="s1">app:boxCornerRadiusTopStart</span><span class="s2">=&quot;12dp&quot;</span>
            <span class="s1">app:boxStrokeColor</span><span class="s2">=&quot;#E0E0E0&quot;</span>
            <span class="s1">app:hintTextColor</span><span class="s2">=&quot;#999999&quot;</span>
            <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;com.google.android.material.textfield.TextInputEditText</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/etLoginInput&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot;</span>
                <span class="s1">android:inputType</span><span class="s2">=&quot;text&quot;</span>
                <span class="s1">android:maxLines</span><span class="s2">=&quot;1&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;14dp&quot;</span>
                <span class="s1">android:singleLine</span><span class="s2">=&quot;true&quot; </span><span class="s0">/&gt;</span>
        <span class="s0">&lt;/com.google.android.material.textfield.TextInputLayout&gt;</span>

        <span class="s0">&lt;com.google.android.material.textfield.TextInputLayout</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/tilPassword&quot;</span>
            <span class="s1">style</span><span class="s2">=&quot;@style/Widget.MaterialComponents.TextInputLayout.OutlinedBox.Dense&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;16dp&quot;</span>
            <span class="s1">android:hint</span><span class="s2">=&quot;Password&quot;</span>
            <span class="s1">app:boxBackgroundColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
            <span class="s1">app:boxCornerRadiusBottomEnd</span><span class="s2">=&quot;12dp&quot;</span>
            <span class="s1">app:boxCornerRadiusBottomStart</span><span class="s2">=&quot;12dp&quot;</span>
            <span class="s1">app:boxCornerRadiusTopEnd</span><span class="s2">=&quot;12dp&quot;</span>
            <span class="s1">app:boxCornerRadiusTopStart</span><span class="s2">=&quot;12dp&quot;</span>
            <span class="s1">app:boxStrokeColor</span><span class="s2">=&quot;#E0E0E0&quot;</span>
            <span class="s1">app:endIconDrawable</span><span class="s2">=&quot;@drawable/password_toggle_selector&quot;</span>
            <span class="s1">app:endIconMode</span><span class="s2">=&quot;password_toggle&quot;</span>
            <span class="s1">app:hintTextColor</span><span class="s2">=&quot;#999999&quot;</span>
            <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/tilLoginInput&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;com.google.android.material.textfield.TextInputEditText</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/etPassword&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot;</span>
                <span class="s1">android:inputType</span><span class="s2">=&quot;textPassword&quot;</span>
                <span class="s1">android:maxLines</span><span class="s2">=&quot;1&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;14dp&quot;</span>
                <span class="s1">android:singleLine</span><span class="s2">=&quot;true&quot; </span><span class="s0">/&gt;</span>
        <span class="s0">&lt;/com.google.android.material.textfield.TextInputLayout&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvForgotPassword&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;4dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span>
            <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Forgot your Password?&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
            <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/tilPassword&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;com.google.android.material.button.MaterialButton</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnLogin&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;56dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;32dp&quot;</span>
            <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#1C4E75&quot;</span>
            <span class="s1">android:letterSpacing</span><span class="s2">=&quot;0.05&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;LOG IN&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
            <span class="s1">app:cornerRadius</span><span class="s2">=&quot;28dp&quot;</span>
            <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/tvForgotPassword&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvDontHaveAccount&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;24dp&quot;</span>
            <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Don't have an account? SIGN IN here.&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
            <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/btnLogin&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span>

    <span class="s0">&lt;ProgressBar</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/loginProgress&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:indeterminateTint</span><span class="s2">=&quot;#1C4E75&quot;</span>
        <span class="s1">android:visibility</span><span class="s2">=&quot;gone&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span>
</pre>
</body>
</html>