<html>
<head>
<title>activity_help_center.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_help_center.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;#F6FBFF&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;View</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/helpHeader&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;120dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/header_gradient&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnBackHelp&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;8dp&quot;</span>
        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/ic_arrow_back_gray&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:tint</span><span class="s2">=&quot;@color/white&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Help Center&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;@id/btnBackHelp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;@id/btnBackHelp&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;androidx.core.widget.NestedScrollView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/helpHeader&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;20dp&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;com.google.android.material.card.MaterialCardView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;50dp&quot;</span>
                <span class="s1">app:cardBackgroundColor</span><span class="s2">=&quot;@color/white&quot;</span>
                <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;25dp&quot;</span>
                <span class="s1">app:cardElevation</span><span class="s2">=&quot;6dp&quot;</span>
                <span class="s1">app:cardUseCompatPadding</span><span class="s2">=&quot;false&quot;</span>
                <span class="s1">app:strokeWidth</span><span class="s2">=&quot;0dp&quot;</span><span class="s0">&gt;</span>

                <span class="s0">&lt;LinearLayout</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:gravity</span><span class="s2">=&quot;center_vertical&quot;</span>
                    <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
                    <span class="s1">android:paddingHorizontal</span><span class="s2">=&quot;16dp&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;ImageView</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;20dp&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;20dp&quot;</span>
                        <span class="s1">android:src</span><span class="s2">=&quot;@android:drawable/ic_menu_search&quot;</span>
                        <span class="s1">app:tint</span><span class="s2">=&quot;#999999&quot; </span><span class="s0">/&gt;</span>

                    <span class="s0">&lt;EditText</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/etSearchHelp&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;12dp&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;@null&quot;</span>
                        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot;</span>
                        <span class="s1">android:hint</span><span class="s2">=&quot;Search for help...&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot; </span><span class="s0">/&gt;</span>
                <span class="s0">&lt;/LinearLayout&gt;</span>
            <span class="s0">&lt;/com.google.android.material.card.MaterialCardView&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvPopularTopics&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;24dp&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Popular Topics&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;@color/aqua_primary&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;com.google.android.material.card.MaterialCardView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/faqCard&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;12dp&quot;</span>
                <span class="s1">app:cardBackgroundColor</span><span class="s2">=&quot;@color/white&quot;</span>
                <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;24dp&quot;</span>
                <span class="s1">app:cardElevation</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">app:cardUseCompatPadding</span><span class="s2">=&quot;true&quot;</span>
                <span class="s1">app:strokeWidth</span><span class="s2">=&quot;0dp&quot;</span><span class="s0">&gt;</span>

                <span class="s0">&lt;LinearLayout</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
                    <span class="s1">android:padding</span><span class="s2">=&quot;16dp&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;LinearLayout</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/layoutFaq1&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;?attr/selectableItemBackground&quot;</span>
                        <span class="s1">android:clickable</span><span class="s2">=&quot;true&quot;</span>
                        <span class="s1">android:focusable</span><span class="s2">=&quot;true&quot;</span>
                        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span><span class="s0">&gt;</span>
                        <span class="s0">&lt;RelativeLayout </span><span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0">&gt;</span>
                            <span class="s0">&lt;TextView </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/tvQuestion1&quot; </span><span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot; </span><span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot; </span><span class="s1">android:layout_toStartOf</span><span class="s2">=&quot;@id/ivArrow1&quot; </span><span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot; </span><span class="s1">android:text</span><span class="s2">=&quot;How to request a service?&quot; </span><span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot; </span><span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>
                            <span class="s0">&lt;ImageView </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/ivArrow1&quot; </span><span class="s1">android:layout_width</span><span class="s2">=&quot;20dp&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;20dp&quot; </span><span class="s1">android:layout_alignParentEnd</span><span class="s2">=&quot;true&quot; </span><span class="s1">android:layout_centerVertical</span><span class="s2">=&quot;true&quot; </span><span class="s1">android:src</span><span class="s2">=&quot;@drawable/ic_chevron_down&quot; </span><span class="s1">app:tint</span><span class="s2">=&quot;#999999&quot; </span><span class="s0">/&gt;</span>
                        <span class="s0">&lt;/RelativeLayout&gt;</span>
                        <span class="s0">&lt;TextView </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/tvAnswer1&quot; </span><span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot; </span><span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot; </span><span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot; </span><span class="s1">android:text</span><span class="s2">=&quot;Go to the dashboard and click the 'Request Service' button.&quot; </span><span class="s1">android:textColor</span><span class="s2">=&quot;#666666&quot; </span><span class="s1">android:textSize</span><span class="s2">=&quot;12sp&quot; </span><span class="s1">android:visibility</span><span class="s2">=&quot;gone&quot; </span><span class="s0">/&gt;</span>
                    <span class="s0">&lt;/LinearLayout&gt;</span>

                    <span class="s0">&lt;View </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/divider1&quot; </span><span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;1dp&quot; </span><span class="s1">android:layout_marginVertical</span><span class="s2">=&quot;12dp&quot; </span><span class="s1">android:background</span><span class="s2">=&quot;#F0F0F0&quot; </span><span class="s0">/&gt;</span>

                    <span class="s0">&lt;LinearLayout</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/layoutFaq2&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;?attr/selectableItemBackground&quot;</span>
                        <span class="s1">android:clickable</span><span class="s2">=&quot;true&quot;</span>
                        <span class="s1">android:focusable</span><span class="s2">=&quot;true&quot;</span>
                        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span><span class="s0">&gt;</span>
                        <span class="s0">&lt;RelativeLayout </span><span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0">&gt;</span>
                            <span class="s0">&lt;TextView </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/tvQuestion2&quot; </span><span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot; </span><span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot; </span><span class="s1">android:layout_toStartOf</span><span class="s2">=&quot;@id/ivArrow2&quot; </span><span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot; </span><span class="s1">android:text</span><span class="s2">=&quot;How to track my technician?&quot; </span><span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot; </span><span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>
                            <span class="s0">&lt;ImageView </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/ivArrow2&quot; </span><span class="s1">android:layout_width</span><span class="s2">=&quot;20dp&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;20dp&quot; </span><span class="s1">android:layout_alignParentEnd</span><span class="s2">=&quot;true&quot; </span><span class="s1">android:layout_centerVertical</span><span class="s2">=&quot;true&quot; </span><span class="s1">android:src</span><span class="s2">=&quot;@drawable/ic_chevron_down&quot; </span><span class="s1">app:tint</span><span class="s2">=&quot;#999999&quot; </span><span class="s0">/&gt;</span>
                        <span class="s0">&lt;/RelativeLayout&gt;</span>
                        <span class="s0">&lt;TextView </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/tvAnswer2&quot; </span><span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot; </span><span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot; </span><span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot; </span><span class="s1">android:text</span><span class="s2">=&quot;Click on 'Track Request' to see real-time location.&quot; </span><span class="s1">android:textColor</span><span class="s2">=&quot;#666666&quot; </span><span class="s1">android:textSize</span><span class="s2">=&quot;12sp&quot; </span><span class="s1">android:visibility</span><span class="s2">=&quot;gone&quot; </span><span class="s0">/&gt;</span>
                    <span class="s0">&lt;/LinearLayout&gt;</span>

                    <span class="s0">&lt;View </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/divider2&quot; </span><span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;1dp&quot; </span><span class="s1">android:layout_marginVertical</span><span class="s2">=&quot;12dp&quot; </span><span class="s1">android:background</span><span class="s2">=&quot;#F0F0F0&quot; </span><span class="s0">/&gt;</span>

                    <span class="s0">&lt;LinearLayout</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/layoutFaq3&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;?attr/selectableItemBackground&quot;</span>
                        <span class="s1">android:clickable</span><span class="s2">=&quot;true&quot;</span>
                        <span class="s1">android:focusable</span><span class="s2">=&quot;true&quot;</span>
                        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span><span class="s0">&gt;</span>
                        <span class="s0">&lt;RelativeLayout </span><span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0">&gt;</span>
                            <span class="s0">&lt;TextView </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/tvQuestion3&quot; </span><span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot; </span><span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot; </span><span class="s1">android:layout_toStartOf</span><span class="s2">=&quot;@id/ivArrow3&quot; </span><span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot; </span><span class="s1">android:text</span><span class="s2">=&quot;How to update or change my password?&quot; </span><span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot; </span><span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>
                            <span class="s0">&lt;ImageView </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/ivArrow3&quot; </span><span class="s1">android:layout_width</span><span class="s2">=&quot;20dp&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;20dp&quot; </span><span class="s1">android:layout_alignParentEnd</span><span class="s2">=&quot;true&quot; </span><span class="s1">android:layout_centerVertical</span><span class="s2">=&quot;true&quot; </span><span class="s1">android:src</span><span class="s2">=&quot;@drawable/ic_chevron_down&quot; </span><span class="s1">app:tint</span><span class="s2">=&quot;#999999&quot; </span><span class="s0">/&gt;</span>
                        <span class="s0">&lt;/RelativeLayout&gt;</span>
                        <span class="s0">&lt;TextView </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/tvAnswer3&quot; </span><span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot; </span><span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot; </span><span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot; </span><span class="s1">android:text</span><span class="s2">=&quot;Go to Settings &gt; Privacy Settings &gt; Account Password to reset your password.&quot; </span><span class="s1">android:textColor</span><span class="s2">=&quot;#666666&quot; </span><span class="s1">android:textSize</span><span class="s2">=&quot;12sp&quot; </span><span class="s1">android:visibility</span><span class="s2">=&quot;gone&quot; </span><span class="s0">/&gt;</span>
                    <span class="s0">&lt;/LinearLayout&gt;</span>

                    <span class="s0">&lt;View </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/divider3&quot; </span><span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;1dp&quot; </span><span class="s1">android:layout_marginVertical</span><span class="s2">=&quot;12dp&quot; </span><span class="s1">android:background</span><span class="s2">=&quot;#F0F0F0&quot; </span><span class="s0">/&gt;</span>

                    <span class="s0">&lt;LinearLayout</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/layoutFaq4&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;?attr/selectableItemBackground&quot;</span>
                        <span class="s1">android:clickable</span><span class="s2">=&quot;true&quot;</span>
                        <span class="s1">android:focusable</span><span class="s2">=&quot;true&quot;</span>
                        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span><span class="s0">&gt;</span>
                        <span class="s0">&lt;RelativeLayout </span><span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0">&gt;</span>
                            <span class="s0">&lt;TextView </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/tvQuestion4&quot; </span><span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot; </span><span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot; </span><span class="s1">android:layout_toStartOf</span><span class="s2">=&quot;@id/ivArrow4&quot; </span><span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot; </span><span class="s1">android:text</span><span class="s2">=&quot;How to edit my profile?&quot; </span><span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot; </span><span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>
                            <span class="s0">&lt;ImageView </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/ivArrow4&quot; </span><span class="s1">android:layout_width</span><span class="s2">=&quot;20dp&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;20dp&quot; </span><span class="s1">android:layout_alignParentEnd</span><span class="s2">=&quot;true&quot; </span><span class="s1">android:layout_centerVertical</span><span class="s2">=&quot;true&quot; </span><span class="s1">android:src</span><span class="s2">=&quot;@drawable/ic_chevron_down&quot; </span><span class="s1">app:tint</span><span class="s2">=&quot;#999999&quot; </span><span class="s0">/&gt;</span>
                        <span class="s0">&lt;/RelativeLayout&gt;</span>
                        <span class="s0">&lt;TextView </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/tvAnswer4&quot; </span><span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot; </span><span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot; </span><span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot; </span><span class="s1">android:text</span><span class="s2">=&quot;Tap your profile icon and select 'Edit Profile'.&quot; </span><span class="s1">android:textColor</span><span class="s2">=&quot;#666666&quot; </span><span class="s1">android:textSize</span><span class="s2">=&quot;12sp&quot; </span><span class="s1">android:visibility</span><span class="s2">=&quot;gone&quot; </span><span class="s0">/&gt;</span>
                    <span class="s0">&lt;/LinearLayout&gt;</span>

                    <span class="s0">&lt;View </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/divider4&quot; </span><span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;1dp&quot; </span><span class="s1">android:layout_marginVertical</span><span class="s2">=&quot;12dp&quot; </span><span class="s1">android:background</span><span class="s2">=&quot;#F0F0F0&quot; </span><span class="s0">/&gt;</span>

                    <span class="s0">&lt;LinearLayout</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/layoutFaq5&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:background</span><span class="s2">=&quot;?attr/selectableItemBackground&quot;</span>
                        <span class="s1">android:clickable</span><span class="s2">=&quot;true&quot;</span>
                        <span class="s1">android:focusable</span><span class="s2">=&quot;true&quot;</span>
                        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span><span class="s0">&gt;</span>
                        <span class="s0">&lt;RelativeLayout </span><span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0">&gt;</span>
                            <span class="s0">&lt;TextView </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/tvQuestion5&quot; </span><span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot; </span><span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot; </span><span class="s1">android:layout_toStartOf</span><span class="s2">=&quot;@id/ivArrow5&quot; </span><span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot; </span><span class="s1">android:text</span><span class="s2">=&quot;How to add a new unit?&quot; </span><span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot; </span><span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>
                            <span class="s0">&lt;ImageView </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/ivArrow5&quot; </span><span class="s1">android:layout_width</span><span class="s2">=&quot;20dp&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;20dp&quot; </span><span class="s1">android:layout_alignParentEnd</span><span class="s2">=&quot;true&quot; </span><span class="s1">android:layout_centerVertical</span><span class="s2">=&quot;true&quot; </span><span class="s1">android:src</span><span class="s2">=&quot;@drawable/ic_chevron_down&quot; </span><span class="s1">app:tint</span><span class="s2">=&quot;#999999&quot; </span><span class="s0">/&gt;</span>
                        <span class="s0">&lt;/RelativeLayout&gt;</span>
                        <span class="s0">&lt;TextView </span><span class="s1">android:id</span><span class="s2">=&quot;@+id/tvAnswer5&quot; </span><span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot; </span><span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot; </span><span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot; </span><span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot; </span><span class="s1">android:text</span><span class="s2">=&quot;Click the edit icon next to your unit name on the dashboard.&quot; </span><span class="s1">android:textColor</span><span class="s2">=&quot;#666666&quot; </span><span class="s1">android:textSize</span><span class="s2">=&quot;12sp&quot; </span><span class="s1">android:visibility</span><span class="s2">=&quot;gone&quot; </span><span class="s0">/&gt;</span>
                    <span class="s0">&lt;/LinearLayout&gt;</span>

                <span class="s0">&lt;/LinearLayout&gt;</span>
            <span class="s0">&lt;/com.google.android.material.card.MaterialCardView&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;24dp&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Contact Support&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;@color/aqua_primary&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;com.google.android.material.button.MaterialButton</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnChatSupport&quot;</span>
                <span class="s1">style</span><span class="s2">=&quot;@style/Widget.MaterialComponents.Button.OutlinedButton&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;55dp&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;12dp&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Chat with AquaBuddy&quot;</span>
                <span class="s1">android:textAllCaps</span><span class="s2">=&quot;false&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;@color/aqua_primary&quot;</span>
                <span class="s1">app:cornerRadius</span><span class="s2">=&quot;12dp&quot;</span>
                <span class="s1">app:icon</span><span class="s2">=&quot;@drawable/ic_message&quot;</span>
                <span class="s1">app:iconTint</span><span class="s2">=&quot;@color/aqua_primary&quot;</span>
                <span class="s1">app:strokeColor</span><span class="s2">=&quot;@color/aqua_primary&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;com.google.android.material.button.MaterialButton</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnCallSupport&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;55dp&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;12dp&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Call Customer Support&quot;</span>
                <span class="s1">android:textAllCaps</span><span class="s2">=&quot;false&quot;</span>
                <span class="s1">android:backgroundTint</span><span class="s2">=&quot;@color/aqua_primary&quot;</span>
                <span class="s1">app:cornerRadius</span><span class="s2">=&quot;12dp&quot;</span>
                <span class="s1">app:icon</span><span class="s2">=&quot;@drawable/ic_call&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Available: Mon-Sat, 8:00 AM - 5:00 PM&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#999999&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;11sp&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;/LinearLayout&gt;</span>
    <span class="s0">&lt;/androidx.core.widget.NestedScrollView&gt;</span>

<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span></pre>
</body>
</html>