<html>
<head>
<title>activity_customer_setup.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_customer_setup.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout</span>
    <span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:id</span><span class="s2">=&quot;@+id/rootConstraintLayout&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@color/aqua_background&quot;</span>
        <span class="s1">android:scaleType</span><span class="s2">=&quot;centerCrop&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;View</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/wave_curve_request&quot; </span><span class="s0">/&gt;</span>


    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/setUpAccount&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;24dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;40dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;24dp&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;SET UP YOUR ACCOUNT&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#505050&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>


    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvSetupSubtitle&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;WHAT UNIT DO YOU USE?&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#333333&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/setUpAccount&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;androidx.cardview.widget.CardView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/whiteCardItem1&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;295dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;126dp&quot;</span>
        <span class="s1">app:cardBackgroundColor</span><span class="s2">=&quot;#F8F8F8&quot;</span>
        <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;24dp&quot;</span>
        <span class="s1">app:cardElevation</span><span class="s2">=&quot;12dp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.175&quot; </span><span class="s0">&gt;</span>

        <span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>


            <span class="s0">&lt;ImageView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/ItemOrder1&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;85dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;85dp&quot;</span>
                <span class="s1">android:src</span><span class="s2">=&quot;@drawable/titled_design1&quot;</span>
                <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.075&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.41&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/itemWlCubeFirewall&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;WL CUBE FIREWALL&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#5B5B5B&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.795&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.235&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/ItemSubName1&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;F-FXCU1-M-HCA-TT-**-***&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#5B5B5B&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;13sp&quot;</span>
                <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.709&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.444&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span>
    <span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span>


    <span class="s0">&lt;androidx.cardview.widget.CardView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/whiteCardItem2&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;295dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;126dp&quot;</span>
        <span class="s1">app:cardBackgroundColor</span><span class="s2">=&quot;#F8F8F8&quot;</span>
        <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;24dp&quot;</span>
        <span class="s1">app:cardElevation</span><span class="s2">=&quot;12dp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.395&quot; </span><span class="s0">&gt;</span>

        <span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>


            <span class="s0">&lt;ImageView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/shadow01&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;85dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;71dp&quot;</span>
                <span class="s1">android:src</span><span class="s2">=&quot;@drawable/shadow01&quot;</span>
                <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.076&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;1.0&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;ImageView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/ItemOrder2&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;85dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;85dp&quot;</span>
                <span class="s1">android:src</span><span class="s2">=&quot;@drawable/titled_design2&quot;</span>
                <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.075&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.41&quot; </span><span class="s0">/&gt;</span>


            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/itemSmartSlim&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;10dp&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;SMART SLIM&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#5B5B5B&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.533&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.166&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/ItemSubName2&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;S-FXCU1-M-HCA-AA-**-***&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#5B5B5B&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;13sp&quot;</span>
                <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.724&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.444&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span>
    <span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span>

        <span class="s0">&lt;androidx.cardview.widget.CardView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/whiteCardItem3&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;295dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;126dp&quot;</span>
        <span class="s1">app:cardBackgroundColor</span><span class="s2">=&quot;#F8F8F8&quot;</span>
        <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;24dp&quot;</span>
        <span class="s1">app:cardElevation</span><span class="s2">=&quot;12dp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.614&quot; </span><span class="s0">&gt;</span>

            <span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>


                <span class="s0">&lt;ImageView</span>
                    <span class="s1">android:id</span><span class="s2">=&quot;@+id/ItemOrder3&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;85dp&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;85dp&quot;</span>
                    <span class="s1">android:src</span><span class="s2">=&quot;@drawable/titled_design3&quot;</span>
                    <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.076&quot;</span>
                    <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.39&quot; </span><span class="s0">/&gt;</span>

                <span class="s0">&lt;TextView</span>
                    <span class="s1">android:id</span><span class="s2">=&quot;@+id/itemCounterTopWaterPurifier&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;178dp&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;49dp&quot;</span>
                    <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;10dp&quot;</span>
                    <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                    <span class="s1">android:lineSpacingExtra</span><span class="s2">=&quot;-2dp&quot;</span>
                    <span class="s1">android:text</span><span class="s2">=&quot;COUNTER TOP WATER PURIFIER&quot;</span>
                    <span class="s1">android:textColor</span><span class="s2">=&quot;#5B5B5B&quot;</span>
                    <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
                    <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span>
                    <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                    <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;1.0&quot;</span>
                    <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s2">=&quot;@id/ItemOrder3&quot;</span>
                    <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.207&quot; </span><span class="s0">/&gt;</span>

                <span class="s0">&lt;TextView</span>
                    <span class="s1">android:id</span><span class="s2">=&quot;@+id/ItemSubName3&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                    <span class="s1">android:text</span><span class="s2">=&quot;CT-FXCU1-M-HCA-WT-**-***&quot;</span>
                    <span class="s1">android:textColor</span><span class="s2">=&quot;#5B5B5B&quot;</span>
                    <span class="s1">android:textSize</span><span class="s2">=&quot;13sp&quot;</span>
                    <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.781&quot;</span>
                    <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.583&quot; </span><span class="s0">/&gt;</span>


            <span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span>
        <span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span>


        <span class="s0">&lt;androidx.cardview.widget.CardView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/whiteCardItem4&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;295dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;126dp&quot;</span>
        <span class="s1">app:cardBackgroundColor</span><span class="s2">=&quot;#F8F8F8&quot;</span>
        <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;24dp&quot;</span>
        <span class="s1">app:cardElevation</span><span class="s2">=&quot;12dp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.834&quot; </span><span class="s0">&gt;</span>

            <span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>


                <span class="s0">&lt;ImageView</span>
                    <span class="s1">android:id</span><span class="s2">=&quot;@+id/shadow02&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;108dp&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;81dp&quot;</span>
                    <span class="s1">android:src</span><span class="s2">=&quot;@drawable/shadow01&quot;</span>
                    <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.026&quot;</span>
                    <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.928&quot; </span><span class="s0">/&gt;</span>

                <span class="s0">&lt;ImageView</span>
                    <span class="s1">android:id</span><span class="s2">=&quot;@+id/ItemOrder4&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;85dp&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;85dp&quot;</span>
                    <span class="s1">android:src</span><span class="s2">=&quot;@drawable/titled_design4&quot;</span>
                    <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.076&quot;</span>
                    <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.39&quot; </span><span class="s0">/&gt;</span>

                <span class="s0">&lt;TextView</span>
                    <span class="s1">android:id</span><span class="s2">=&quot;@+id/itemStandingWaterPurifier&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;178dp&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;49dp&quot;</span>
                    <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;10dp&quot;</span>
                    <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                    <span class="s1">android:lineSpacingExtra</span><span class="s2">=&quot;-2dp&quot;</span>
                    <span class="s1">android:text</span><span class="s2">=&quot;STANDING WATER PURIFIER&quot;</span>
                    <span class="s1">android:textColor</span><span class="s2">=&quot;#5B5B5B&quot;</span>
                    <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
                    <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span>
                    <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                    <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;1.0&quot;</span>
                    <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s2">=&quot;@id/ItemOrder4&quot;</span>
                    <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.207&quot; </span><span class="s0">/&gt;</span>

                <span class="s0">&lt;TextView</span>
                    <span class="s1">android:id</span><span class="s2">=&quot;@+id/ItemSubName4&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                    <span class="s1">android:text</span><span class="s2">=&quot;ST-FXCU1-M-HCA-WT-**-***&quot;</span>
                    <span class="s1">android:textColor</span><span class="s2">=&quot;#5B5B5B&quot;</span>
                    <span class="s1">android:textSize</span><span class="s2">=&quot;13sp&quot;</span>
                    <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.781&quot;</span>
                    <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
                    <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.583&quot; </span><span class="s0">/&gt;</span>


            <span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span>
        <span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span>


    <span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span></pre>
</body>
</html>