<html>
<head>
<title>activity_unit_details.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_unit_details.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout</span>
    <span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:id</span><span class="s2">=&quot;@+id/rootConstraintLayout&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>


    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView3&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@color/aqua_background&quot;</span>
        <span class="s1">android:scaleType</span><span class="s2">=&quot;centerCrop&quot; </span><span class="s0">/&gt;</span>


     <span class="s0">&lt;View</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/wave_curve_request&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/lessThanIcon&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;45dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;45dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;?attr/selectableItemBackgroundBorderless&quot;</span>
        <span class="s1">android:clickable</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:focusable</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/arrow_back&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.043&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.051&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/setUpAccount2&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;SET UP YOUR ACCOUNT&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#505050&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.061&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvSetupSubtitle2&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;ENTER YOUR APPLICANCES UNIT NO.&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#333333&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.497&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.099&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;androidx.cardview.widget.CardView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/whiteCardUnit01&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;377dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;520dp&quot;</span>
        <span class="s1">app:cardBackgroundColor</span><span class="s2">=&quot;#F8F8F8&quot;</span>
        <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;24dp&quot;</span>
        <span class="s1">app:cardElevation</span><span class="s2">=&quot;12dp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.489&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.6&quot;</span><span class="s0">&gt;</span>


        <span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;16dp&quot;</span><span class="s0">&gt;</span>


            <span class="s0">&lt;ImageView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/ascLogo&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;50dp&quot;</span>
                <span class="s1">android:src</span><span class="s2">=&quot;@drawable/asc_logooo&quot;</span>
                <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;ImageView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/ItemOrder01&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;150dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;220dp&quot;</span>
                <span class="s1">android:src</span><span class="s2">=&quot;@drawable/titled_design1&quot;</span>
                <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/ascLogo&quot;</span>
                <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;0.1&quot; </span><span class="s0">/&gt;</span>


            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/itemWlCubeFirewall01&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:gravity</span><span class="s2">=&quot;start&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;COUNTER TOP WATER PURIFIER&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#5B5B5B&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s2">=&quot;@+id/ItemOrder01&quot;</span>
                <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;@+id/ItemOrder01&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/ItemSubName01&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:gravity</span><span class="s2">=&quot;start&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;F-FXCU1-M-HCA-TT-**-***&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#5B5B5B&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;11sp&quot;</span>
                <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@+id/itemWlCubeFirewall01&quot;</span>
                <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/itemWlCubeFirewall01&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvReferenceNumberLabel&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;16dp&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;REFERENCE NO.&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#5B5B5B&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;11sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@+id/ItemSubName01&quot;</span>
                <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/ItemSubName01&quot; </span><span class="s0">/&gt;</span>


            <span class="s0">&lt;EditText</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/etReferenceNumber&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;170dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;42dp&quot;</span>
                <span class="s1">android:background</span><span class="s2">=&quot;@drawable/edittext_bg&quot;</span>
                <span class="s1">android:hint</span><span class="s2">=&quot;SRO-*******&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;13sp&quot;</span>
                <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.0&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@+id/tvReferenceNumberLabel&quot;</span>
                <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/tvReferenceNumberLabel&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/itemUnitNumber&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;12dp&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;UNIT NO. (e.g. A1234)&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#5B5B5B&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;10sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@+id/etReferenceNumber&quot;</span>
                <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/etReferenceNumber&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;EditText</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/etUnitNumber&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;170dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;42dp&quot;</span>
                <span class="s1">android:background</span><span class="s2">=&quot;@drawable/edittext_bg&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;13sp&quot;</span>
                <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.0&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@+id/itemUnitNumber&quot;</span>
                <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/itemUnitNumber&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/purchaseTypeLabel&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;12dp&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Type of Purchase&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#5B5B5B&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;11sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@+id/etUnitNumber&quot;</span>
                <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/etUnitNumber&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;androidx.appcompat.widget.AppCompatSpinner</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/purchaseTypeDropdown&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;170dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;35dp&quot;</span>
                <span class="s1">android:background</span><span class="s2">=&quot;@drawable/spinner_background&quot;</span>
                <span class="s1">android:foreground</span><span class="s2">=&quot;?attr/selectableItemBackgroundBorderless&quot;</span>
                <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s2">=&quot;0.0&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@+id/purchaseTypeLabel&quot;</span>
                <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/purchaseTypeLabel&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;Button</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnConfirm&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;160dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;55dp&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;24dp&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Confirm&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                <span class="s1">app:cornerRadius</span><span class="s2">=&quot;20dp&quot;</span>
                <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/purchaseTypeDropdown&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span>
    <span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span>

<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span>
</pre>
</body>
</html>