<html>
<head>
<title>dialog_logout.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
dialog_logout.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;340dp&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
    <span class="s1">android:clipChildren</span><span class="s2">=&quot;false&quot;</span>
    <span class="s1">android:clipToPadding</span><span class="s2">=&quot;false&quot;</span>
    <span class="s1">android:padding</span><span class="s2">=&quot;12dp&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;androidx.cardview.widget.CardView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;45dp&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;8dp&quot;</span>
        <span class="s1">android:layout_marginHorizontal</span><span class="s2">=&quot;4dp&quot;</span>
        <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;28dp&quot;</span>
        <span class="s1">app:cardElevation</span><span class="s2">=&quot;8dp&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
            <span class="s1">android:paddingHorizontal</span><span class="s2">=&quot;24dp&quot;</span>
            <span class="s1">android:paddingTop</span><span class="s2">=&quot;60dp&quot;</span>
            <span class="s1">android:paddingBottom</span><span class="s2">=&quot;24dp&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Logout Account?&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#333333&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Are you sure you want to sign out from AquaTech?&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#757575&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;32dp&quot;</span>
                <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span><span class="s0">&gt;</span>

                <span class="s0">&lt;com.google.android.material.button.MaterialButton</span>
                    <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnCancelLogout&quot;</span>
                    <span class="s1">style</span><span class="s2">=&quot;@style/Widget.MaterialComponents.Button.OutlinedButton&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;54dp&quot;</span>
                    <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;8dp&quot;</span>
                    <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                    <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                    <span class="s1">android:text</span><span class="s2">=&quot;Cancel&quot;</span>
                    <span class="s1">android:textAllCaps</span><span class="s2">=&quot;false&quot;</span>
                    <span class="s1">android:textColor</span><span class="s2">=&quot;#9E9E9E&quot;</span>
                    <span class="s1">app:cornerRadius</span><span class="s2">=&quot;16dp&quot;</span>
                    <span class="s1">app:strokeColor</span><span class="s2">=&quot;#E0E0E0&quot; </span><span class="s0">/&gt;</span>

                <span class="s0">&lt;com.google.android.material.button.MaterialButton</span>
                    <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnConfirmLogout&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;54dp&quot;</span>
                    <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;8dp&quot;</span>
                    <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                    <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#4B91C6&quot;</span>
                    <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                    <span class="s1">android:text</span><span class="s2">=&quot;Yes, Logout&quot;</span>
                    <span class="s1">android:textAllCaps</span><span class="s2">=&quot;false&quot;</span>
                    <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
                    <span class="s1">app:cornerRadius</span><span class="s2">=&quot;16dp&quot;</span>
                    <span class="s1">app:elevation</span><span class="s2">=&quot;4dp&quot; </span><span class="s0">/&gt;</span>
            <span class="s0">&lt;/LinearLayout&gt;</span>
        <span class="s0">&lt;/LinearLayout&gt;</span>
    <span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span>

    <span class="s0">&lt;androidx.cardview.widget.CardView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;90dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;90dp&quot;</span>
        <span class="s1">app:cardBackgroundColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;45dp&quot;</span>
        <span class="s1">app:cardElevation</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;6dp&quot; </span>
            <span class="s1">android:src</span><span class="s2">=&quot;@drawable/asc_logooo&quot;</span>
            <span class="s1">android:scaleType</span><span class="s2">=&quot;centerInside&quot; </span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span>

<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span>
</pre>
</body>
</html>