<html>
<head>
<title>item_chat_thread.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
item_chat_thread.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.cardview.widget.CardView </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
    <span class="s1">android:layout_margin</span><span class="s2">=&quot;4dp&quot;</span>
    <span class="s1">app:cardBackgroundColor</span><span class="s2">=&quot;#FDF7F7&quot;</span>
    <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;25dp&quot;</span>
    <span class="s1">app:cardElevation</span><span class="s2">=&quot;4dp&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;12dp&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;com.google.android.material.imageview.ShapeableImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/msgAvatar&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;45dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;45dp&quot;</span>
            <span class="s1">android:src</span><span class="s2">=&quot;@drawable/man_user_circle_icon&quot;</span>
            <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
            <span class="s1">app:shapeAppearanceOverlay</span><span class="s2">=&quot;@style/CircleImage&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/msgName&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;12dp&quot;</span>
            <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Customer Name&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#333333&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
            <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s2">=&quot;@id/msgAvatar&quot;</span>
            <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;@id/msgAvatar&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/msgText&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:ellipsize</span><span class="s2">=&quot;end&quot;</span>
            <span class="s1">android:maxLines</span><span class="s2">=&quot;1&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Last Message...&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#757575&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;12sp&quot;</span>
            <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;@id/msgName&quot;</span>
            <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/msgName&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span>
<span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span>
</pre>
</body>
</html>