<html>
<head>
<title>item_upcoming_task.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
item_upcoming_task.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
    <span class="s1">android:paddingBottom</span><span class="s2">=&quot;12dp&quot;</span>
    <span class="s1">android:clipToPadding</span><span class="s2">=&quot;false&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/statusOpenGreen&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;23dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;12dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/status_completed_green&quot;</span>
        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center_horizontal&quot;</span>
        <span class="s1">android:lineSpacingExtra</span><span class="s2">=&quot;-3dp&quot;</span>
        <span class="s1">android:paddingTop</span><span class="s2">=&quot;12dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;26\nFEB&quot;</span>
        <span class="s1">android:textAllCaps</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;10sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;@+id/UpcomingCard&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;@+id/UpcomingCard&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;androidx.cardview.widget.CardView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/UpcomingCard&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;8dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">app:cardBackgroundColor</span><span class="s2">=&quot;#F8F8F8&quot;</span>
        <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;12dp&quot;</span>
        <span class="s1">app:cardElevation</span><span class="s2">=&quot;4dp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toEndOf</span><span class="s2">=&quot;@id/statusOpenGreen&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:paddingHorizontal</span><span class="s2">=&quot;14dp&quot;</span>
            <span class="s1">android:paddingVertical</span><span class="s2">=&quot;12dp&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvUpcomingCustomerName&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:ellipsize</span><span class="s2">=&quot;end&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:maxLines</span><span class="s2">=&quot;1&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Customer Name&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#333333&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;17sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                <span class="s1">app:layout_constraintEnd_toStartOf</span><span class="s2">=&quot;@+id/tvUpcomingTicketId&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvUpcomingTicketId&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;#ASC2026-0000&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#3EB5E8&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvUpcomingTime&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;2dp&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;00:00 AM - 00:00 PM&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#555555&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;10.5sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/tvUpcomingTicketId&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvUpcomingServiceType&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Filter Preventive, Other Parts&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#4B91C6&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;12sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                <span class="s1">app:layout_constraintEnd_toStartOf</span><span class="s2">=&quot;@+id/tvUpcomingTime&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/tvUpcomingCustomerName&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvUpcomingAddress&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;12dp&quot;</span>
                <span class="s1">android:ellipsize</span><span class="s2">=&quot;end&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot;</span>
                <span class="s1">android:maxLines</span><span class="s2">=&quot;2&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Address details will appear here...&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#666666&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;11.5sp&quot;</span>
                <span class="s1">app:layout_constraintEnd_toStartOf</span><span class="s2">=&quot;@+id/btnAcceptUpcoming&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/tvUpcomingServiceType&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/tvUpcomingSro&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;SRO-00000000&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#555555&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;11.5sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/tvUpcomingAddress&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;ImageView</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnChatUpcoming&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;40dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;40dp&quot;</span>
                <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">android:background</span><span class="s2">=&quot;?attr/selectableItemBackgroundBorderless&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">android:src</span><span class="s2">=&quot;@drawable/chat_1&quot;</span>
                <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;@+id/btnAcceptUpcoming&quot;</span>
                <span class="s1">app:layout_constraintEnd_toStartOf</span><span class="s2">=&quot;@+id/btnAcceptUpcoming&quot;</span>
                <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;@+id/btnAcceptUpcoming&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;Button</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnAcceptUpcoming&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;95dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;44dp&quot;</span>
                <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#4B91C6&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;ACCEPT&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;@android:color/white&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;11.5sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
                <span class="s1">app:cornerRadius</span><span class="s2">=&quot;10dp&quot;</span>
                <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
                <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@+id/tvUpcomingTime&quot;</span>
                <span class="s1">app:layout_constraintVertical_bias</span><span class="s2">=&quot;1.0&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span>
    <span class="s0">&lt;/androidx.cardview.widget.CardView&gt;</span>

<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span></pre>
</body>
</html>