<html>
<head>
<title>layout_profile_bottom_sheet.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
.s4 { color: #56a8f5;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
layout_profile_bottom_sheet.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;androidx.core.widget.NestedScrollView </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;@android:color/transparent&quot;</span>
    <span class="s1">android:fillViewport</span><span class="s2">=&quot;true&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/bg_bottom_sheet_top_rounded&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;20dp&quot;</span><span class="s0">&gt;</span>


        <span class="s0">&lt;View</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;40dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;4dp&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center_horizontal&quot;</span>
            <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;20dp&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;#E0E0E0&quot; </span><span class="s0">/&gt;</span>


        <span class="s0">&lt;TextView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;8dp&quot;</span>
            <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;16dp&quot;</span>
            <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Account&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/aqua_text_dark&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;22sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>


        <span class="s0">&lt;com.google.android.material.card.MaterialCardView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">app:cardCornerRadius</span><span class="s2">=&quot;16dp&quot;</span>
            <span class="s1">app:cardElevation</span><span class="s2">=&quot;0dp&quot;</span>
            <span class="s1">app:strokeColor</span><span class="s2">=&quot;#2196F3&quot;</span>
            <span class="s1">app:strokeWidth</span><span class="s2">=&quot;1dp&quot;</span>
            <span class="s1">app:cardBackgroundColor</span><span class="s2">=&quot;@android:color/white&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;LinearLayout</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;12dp&quot;</span><span class="s0">&gt;</span>

                <span class="s0">&lt;LinearLayout</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:gravity</span><span class="s2">=&quot;center_vertical&quot;</span>
                    <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;com.google.android.material.imageview.ShapeableImageView</span>
                        <span class="s1">android:id</span><span class="s2">=&quot;@+id/bsProfileImage&quot;</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;55dp&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;55dp&quot;</span>
                        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/man_user_circle_icon&quot;</span>
                        <span class="s1">app:shapeAppearanceOverlay</span><span class="s2">=&quot;@style/CircleImage&quot;</span>
                        <span class="s1">app:strokeColor</span><span class="s2">=&quot;@color/aqua_primary&quot;</span>
                        <span class="s1">app:strokeWidth</span><span class="s2">=&quot;1.5dp&quot; </span><span class="s0">/&gt;</span>

                    <span class="s0">&lt;LinearLayout</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;16dp&quot;</span>
                        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span><span class="s0">&gt;</span>

                        <span class="s0">&lt;TextView</span>
                            <span class="s1">android:id</span><span class="s2">=&quot;@+id/bsUserName&quot;</span>
                            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                            <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins_black_ttf&quot;</span>
                            <span class="s1">android:text</span><span class="s2">=&quot;Your Name&quot;</span>
                            <span class="s1">tools:text</span><span class="s2">=&quot;Mary Dela Torre&quot;</span>
                            <span class="s1">android:textColor</span><span class="s2">=&quot;#050505&quot;</span>
                            <span class="s1">android:textSize</span><span class="s2">=&quot;17sp&quot;</span>
                            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>

                        <span class="s0">&lt;TextView</span>
                            <span class="s1">android:id</span><span class="s2">=&quot;@+id/bsUserNumber&quot;</span>
                            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                            <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot;</span>
                            <span class="s1">android:text</span><span class="s2">=&quot;Contact Number&quot;</span>
                            <span class="s1">tools:text</span><span class="s2">=&quot;+63 960 322 0273&quot;</span>
                            <span class="s1">android:textColor</span><span class="s2">=&quot;#65676B&quot;</span>
                            <span class="s1">android:textSize</span><span class="s2">=&quot;12sp&quot; </span><span class="s0">/&gt;</span>
                    <span class="s0">&lt;/LinearLayout&gt;</span>
                <span class="s0">&lt;/LinearLayout&gt;</span>


                <span class="s0">&lt;View</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;1dp&quot;</span>
                    <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;12dp&quot;</span>
                    <span class="s1">android:background</span><span class="s2">=&quot;#F5F5F5&quot; </span><span class="s0">/&gt;</span>

                <span class="s0">&lt;LinearLayout</span>
                    <span class="s1">android:id</span><span class="s2">=&quot;@+id/bsEditProfileOption&quot;</span>
                    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                    <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                    <span class="s1">android:clickable</span><span class="s2">=&quot;true&quot;</span>
                    <span class="s1">android:focusable</span><span class="s2">=&quot;true&quot;</span>
                    <span class="s1">android:foreground</span><span class="s2">=&quot;?attr/selectableItemBackground&quot;</span>
                    <span class="s1">android:gravity</span><span class="s2">=&quot;center_vertical&quot;</span>
                    <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
                    <span class="s1">android:paddingVertical</span><span class="s2">=&quot;8dp&quot;</span><span class="s0">&gt;</span>

                    <span class="s0">&lt;ImageView</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;20dp&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;20dp&quot;</span>
                        <span class="s1">android:src</span><span class="s2">=&quot;@drawable/image_241&quot;</span>
                        <span class="s1">app:tint</span><span class="s2">=&quot;@color/aqua_primary&quot; </span><span class="s0">/&gt;</span>

                    <span class="s0">&lt;TextView</span>
                        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;12dp&quot;</span>
                        <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot;</span>
                        <span class="s1">android:text</span><span class="s2">=&quot;Edit AquaTech Profile&quot;</span>
                        <span class="s1">android:textColor</span><span class="s2">=&quot;#444444&quot;</span>
                        <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
                        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>
                <span class="s0">&lt;/LinearLayout&gt;</span>
            <span class="s0">&lt;/LinearLayout&gt;</span>
        <span class="s0">&lt;/com.google.android.material.card.MaterialCardView&gt;</span>


        <span class="s0">&lt;View</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;16dp&quot; </span><span class="s0">/&gt;</span>


        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/bsHistoryOption&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;@drawable/option_selector&quot;</span>
            <span class="s1">android:clickable</span><span class="s2">=&quot;true&quot;</span>
            <span class="s1">android:focusable</span><span class="s2">=&quot;true&quot;</span>
            <span class="s1">android:gravity</span><span class="s2">=&quot;center_vertical&quot;</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;16dp&quot;</span>
            <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;8dp&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;ImageView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;25dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;25dp&quot;</span>
                <span class="s1">android:src</span><span class="s2">=&quot;@drawable/maintenance_icon&quot;</span>
                <span class="s1">app:tint</span><span class="s2">=&quot;@color/aqua_primary&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;16dp&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Service History </span><span class="s4">&amp;amp; </span><span class="s2">Forms&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#444444&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;15sp&quot; </span><span class="s0">/&gt;</span>
        <span class="s0">&lt;/LinearLayout&gt;</span>


        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/bsLogoutOption&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;@drawable/option_selector&quot;</span>
            <span class="s1">android:clickable</span><span class="s2">=&quot;true&quot;</span>
            <span class="s1">android:focusable</span><span class="s2">=&quot;true&quot;</span>
            <span class="s1">android:gravity</span><span class="s2">=&quot;center_vertical&quot;</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;16dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;ImageView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;25dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;25dp&quot;</span>
                <span class="s1">android:src</span><span class="s2">=&quot;@drawable/exit&quot;</span>
                <span class="s1">app:tint</span><span class="s2">=&quot;#FF5252&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;16dp&quot;</span>
                <span class="s1">android:fontFamily</span><span class="s2">=&quot;@font/poppins&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Log Out&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#FF5252&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;15sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>
        <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;/LinearLayout&gt;</span>
<span class="s0">&lt;/androidx.core.widget.NestedScrollView&gt;</span>
</pre>
</body>
</html>