<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aquatech">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/asc_logo_hd"
        android:roundIcon="@drawable/asc_logo_hd"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AquaTech"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TrackTechniciansActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".OpenRequestsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="true"
            android:theme="@style/Theme.AquaTech"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".VerificationCodeActivity"
            android:exported="true"
            android:theme="@style/Theme.AquaTech"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".ConfirmPasswordActivity"
            android:exported="true"
            android:theme="@style/Theme.AquaTech"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".TechnicianDashboardActivity"
            android:exported="true"
            android:theme="@style/Theme.AquaTech"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".TechnicianTrackActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".CustomerSetupActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".UnitDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>


        <activity android:name=".CustomerChatListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".CustomerDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".UnitSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".ServiceRequestActivity"
            android:theme="@style/Theme.AquaTech"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".TrackServiceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ServiceLogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".TechChatActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".CustomerChatActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".VoiceCallActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".CustomerVoiceCallActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".TechnicianSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".AdminSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".AdminLogsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ManageTechniciansActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".TechnicianNotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".TechnicianVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".WorkPerformanceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ServiceReceiptActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ServiceHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />


        <activity
            android:name=".ValidIDActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ChatSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".NotificationSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".AquaBuddyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".HelpCenterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".TermsAndConditionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".AccountDeletionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".WaterDropFillAnimationActivity"
            android:theme="@style/Theme.AquaTech"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".ServiceRequestSuccessActivity"
            android:theme="@style/Theme.AquaTech"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".ServiceStatusActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".CompletedRequestsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ServiceReportDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".SubmissionsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".TechnicianPerformanceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".MonthlyAnalyticsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".TechnicianPerformanceListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaTech"
            tools:ignore="LockedOrientationActivity" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>
